.getFunc h1 {
    background-color: #0a2b2b;
    color: #FFFF;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
    height: 110px;
}

.getFunc form {
    width: 500px;
    height: 690px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* display: grid; */
}

.getFunc label {
    display: grid;
    font-size: 24px;
    margin-top: 20px;
}

.getFunc input {

    width: 458px;
    height: 49px;
    background-color: #d9d9d9;
    border: none;
}

.getFunc button {
    background-color: #d9d9d9;
    color: rgb(29, 29, 29);
    border: none;
    height: 55px;
    width: 170px;
    border-radius: 10%;
    position: relative;
    margin-top: 55px;
    margin-left: 30%;
    transition: .3s;
}

.getFunc button:hover {
    scale: 1.1;
    box-shadow: 2px 3px 10px rgba(10, 43, 43, .6);
}
