.homeCliente {
  background-color: #0a2b2b;
  color: #FFFF;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 20px;
}
