.painel h1 {
    color: #ffffff;
    text-align: center;
    font-size: 4rem;

}

.painel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    text-align: center;
}
